

.signin{
  display: flex;
  justify-content: center;  
  align-items: center;      
  text-align: center;
 padding-top: 3%;
 padding-bottom: 6%;
  
   
}
.signin-container{
   position: relative;
   background-color: rgba(255, 255, 255, 0.25);
   width: 498px;
   height: 479px;
   padding: 40px;
   border-radius: 38px;
   box-shadow: 50px 50px 5px -3px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(8px);
}


.signin-container .title{
  
margin-bottom: 30px;
font-size: var(--h3);
}
.signin-container .user{
    margin-bottom: 30px;
}
.signin-container .email,.signin-container .password{
 
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-container .email img{
    position: absolute;
    margin-left: -52%;
   
}

.signin-container .email input{
    font-size: var(--p2);
    font-family: poppins;
    border: 1px solid black;
    outline: none;
    width: 298px;
    height: 40px;
    border-radius: 90px;
    background-color: rgba(161, 173, 230, 0.6);
    font-size: var(--p3);
    
}
.signin-container .password input{
    font-size: var(--p2);
    font-family: poppins;
    border: 1px solid black;
    outline: none;
    width: 298px;
    height: 40px;
    border-radius: 90px;
    background-color: rgba(161, 173, 230, 0.6);
    font-size: var(--p3);
}
.signin-container .password img{
    position: absolute;
    margin-right: -52%;
}
.email{
    margin-bottom: 30px;
}
.password{
    margin-bottom: 30px;
}

.signin-container .email input::placeholder{
    transform: translate(15%);
}

.signin-container .password input::placeholder{
    transform: translate(5%);
}

.login-button{
    background-color: var(--primary-blue-dark2);
    border: 1px solid black;
    width: 298px;
    height: 40px;
    border-radius: 90px;
    margin-bottom: 30px;
    color: white;
    font-size: var(--h6);
    font-weight: 600;
    cursor: pointer;
    
}
.login-button:hover{
    border: none;
    box-shadow: 1px 1px 20px -5px black;
    background-color: var(--primary-blue);
    transition: 0.3s ease-in-out;
}
.remember{
    display: flex;
    justify-content: center;
    align-items: center;
}
.remember .remember-forgotpassword{
    display: flex;
    gap: 64px;
    font-size: var(--p3);
}

.signin-container .forgot{
    color: var(--primary-blue);
    cursor: pointer;   
}
.signin-container .forgot:hover{
    color: white;
    text-shadow: 1px 1px 7px black;
    transition: 0.3s ease-in;
   
}
.signin-container input::placeholder{
    font-size: var(--p5);
    color: var(--gray4);
} 

.remember input[type="checkbox"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 15px;
    height: 15px;
    border: black solid 1px;
    appearance: none;
    cursor: pointer;
}



.remember input[type="checkbox"]:checked {

background-color:var(--primary-blue);}

.remember input[type="checkbox"]::before {
content: '';
position: absolute;
width: 3px;
height: 9px;
border: 3px solid transparent;
border-left: none;
border-top: none;
transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:checked:before {
    border-color:#fff;
}
.remember input[type="checkbox"]:not(:checked):hover{
    background-color:hsla(230, 58%, 93%, 0.6) ;
}


  
.signin-container .email input:focus {
    text-indent: 45px;
    border: none;
    box-shadow: 1px 1px 20px -5px black; 
    background-color: hsla(230, 58%, 93%, 0.6);
    
     
   }
  .signin-container .password input:focus {
    text-indent: 20px;
    border: none;
    box-shadow: 1px 1px 20px -5px black; 
    background-color: hsla(230, 58%, 93%, 0.6);
    
  }

  .signin-container .email input:focus::placeholder {
    opacity: 0;
  }
  .signin-container .password input:focus::placeholder {
    opacity: 0; 
  }
  .signin-container .email .filled{
    text-indent: 45px;
    background-color:hsla(230, 58%, 93%, 0.6) ;
  }
  .signin-container .password .filled{
    text-indent: 20px;
    background-color:hsla(230, 58%, 93%, 0.6) ;
  }

  @media (min-width:300px){

  .signin-container{
     
    width: 18rem;
    
    padding: 2rem;
    height: 22rem;
    box-shadow:none;
    border-radius: 0;
  }
  
  .signin-container .title{
    
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .signin-container .user{
    margin-bottom: 1rem;
    width: 7rem;
  }

  
  .signin-container .email img{
      height: 2rem;
      margin-left: -61%;
  }
  
  .signin-container .email input,.signin-container .password input{
      width: 13rem;
      height: 2rem;
  }
 
  .signin-container .password img{
      height: 2rem;
      margin-right: -61%;
  }
  .email{
      margin-bottom: 1rem;
  }
  .password{
      margin-bottom: 1rem;
  }
  
  .signin-container .email input::placeholder{
      transform: translate(18%);
  }
  
  .signin-container .password input::placeholder{
      transform: translate(5%);
  }
  
  .login-button{

    width: 13rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
      
  }

  .remember .remember-forgotpassword{
      
      gap: 1rem;
      font-size: 0.7rem;
  }
  
  .signin-container input::placeholder{
      font-size: 0.6rem;
  } 
  
  }

  @media (min-width:1500px){
    
      .signin-container{
         width: 498px;
         height: 479px;
         padding: 40px;
         border-radius: 38px;
         box-shadow: 50px 50px 5px -3px rgba(0, 0, 0, 0.25);
      }
      .signin-container .title{
        margin-bottom: 30px;
        font-size: var(--h3);
      }
      .signin-container .user{
          width: 9rem;
          margin-bottom: 30px;
      }
      .signin-container .email img{
         height: 40px;
          margin-left: -52%;
      }
      .signin-container .email input{
          font-size: var(--p3);
          width: 298px;
          height: 40px;
      }
      .signin-container .password input{
          font-size: var(--p3);
          width: 298px;
          height: 40px;
      }
      .signin-container .password img{
          height: 40px;
          margin-right: -52%;
      }
      .email{
          margin-bottom: 30px;
      }
      .password{
          margin-bottom: 30px;
      }
      
      .signin-container .email input::placeholder{
          transform: translate(15%);
      }
      
      .signin-container .password input::placeholder{
          transform: translate(5%);
      }
      
      .login-button{
          width: 298px;
          height: 40px;
          margin-bottom: 30px;
          font-size: var(--h6);
      }
      
      .remember .remember-forgotpassword{
          gap: 50px;
          font-size: var(--p3);
      }
   
      .signin-container input::placeholder{
          font-size: var(--p5);
      } 
   
  }