
.hero-section{
  padding-top: 30px;
    background: linear-gradient(-44deg,var(--primary-blue-light2),var(--primary-blue-light1));
    
}
.hero{
    display: flex;
    justify-content: center;
    
    
}
.hero-container .visuals img{
  border-radius: 4px;

   
}
.hero-container{
  gap: 20px;
  
  display: flex;
  align-items: center;
  
}
.hero-container .content h1{
    font-size: var(--h1);
    margin-bottom: 40px;
}
.hero-container .content p{
    margin-bottom: 40px;
    font-size: var(--p1);
    color: var(--primary-blue-dark2);
}
.hero-container .content button{
 width: 11rem;
 height: 46px;
 border-radius: 90px;
 background-color: var(--primary-blue);
 color: white;
 font-family: poppins;
 font-size:var(--text1) ;
 font-weight: 600;
 border: none;
 cursor: pointer;
}
.hero-container .content button:hover{
    background-color:hsl(230, 58%, 37%);
    box-shadow: 1px 1px 20px -5px black; 
    transition: 0.3s ease-in-out;
}
.associated-companies{
    gap: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background-color: var(--primary-blue-light2);
    font-size: var(--h4);
    font-weight: 600;
    color: var(--primary-blue-dark2);
}
.landing{
 display: flex;
 flex-direction: column;
 align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
    background: #DEE1F0;   
}
.landing .benefits{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;  
    width: 90%; 
    
    
}
.landing .benefits .benefit1,.landing .benefits .benefit2,.landing .benefits .benefit3{
    text-align: center;
    background-color: var(--primary-blue-light2);
   display: grid;
   place-items: center; 
   padding: 2%;
  
  
  
}
.landing .benefits h5{
font-size: var(--h6);
font-weight: 600;
color: var(--primary-blue-dark2);
margin-top: 10px;
}
.landing .benefits p{
    font-size: var(--p2);
}
.landing .benefits img{
    margin-bottom: 10px;
}
.landing .choose{
    font-size: var(--h3);
    text-align: center;
    margin-bottom: 3%;
}

.landing .features .feature1,.landing .features .feature2,.landing .features .feature3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-blue-dark2);
    margin-top: 3%;
    padding: 40px;
  
    
}


.landing .getstarted,.landing .readmore{
    color: var(--primary-blue-light1);
    font-weight: bold;
    font-size: var(--text1);
    display: flex;
    align-items: center;
    gap: 20px;
}
.landing .readmore{
  width: 7rem;
    cursor: pointer;
}
.landing .readmore:hover{
    transition: 0.3s ease-in-out;
    filter: drop-shadow(1px 1px 7px  var(--primary-blue-light1));
}
.landing .features h3{
    color: white;
    font-size: var(--h3);
    font-weight: 600;
    
}
.landing .features ul{
    color: var(--primary-blue-light2);
    margin-left: 50px;
}
.landing .features .text h3,.landing .features .text ul,.landing .readmore{
    margin-top: 20px;    
}

.clients-opinion{
  margin-top: 3%;
    
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: var(--primary-blue-light2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.clients-opinion-container{
  padding-top: 3%;
  padding-bottom: 3%;
   width: 40%;
    box-shadow: 1px 1px 50px  rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #DEE1F0;
    display: grid;
    place-items: center;    
}
.clients-opinion-container .comment-and-arrows{
    display: flex; 
    align-items: center;
}
.clients-opinion-container p{
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}
.clients-opinion h4{
    text-align: center;
    font-size: var(--h3);
}
.clients-opinion h5{
  margin-bottom: 3%;
    font-weight: 600;
    text-align: center;
    font-size: var(--h4);
    color: var(--primary-blue);
}
.clients-opinion .client-name{
    margin-bottom: 3%;
    text-align: center;
    font-size: var(--h5);
    color: var(--primary-blue);
}
.arrow-left,.arrow-right{
    cursor: pointer;
   
}
.arrow-left:hover,.arrow-right:hover{
    filter: drop-shadow(1px 1px 7px var(--primary-blue));
    transition: 0.4s ease-in-out;
}
.profile-picture{
  width: 5rem;
}


@media (min-width: 300px) {
  
  
  .hero-section{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .hero{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .hero-container .visuals img{
   width: 100%;
  }
.hero-container{
 
  display: flex;
  flex-direction: column;


}
.hero-container .content{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.hero-container .content h1{
  font-size: 1rem;
}
.hero-container .content p{
  margin-bottom: 0.5rem;
  margin-top: -1.5rem;
  font-size: 0.6rem;
}
.hero-container .content button{
  font-size: 0.5rem;
  width: 5rem;
  height: 1.5rem;
}
.associated-companies{
 width: 100%;
  font-size: 0.55rem;
  gap: 0.9rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
}
.landing{
  padding-bottom: 5%;
}
.landing .choose{
  font-size: 0.8rem;
  margin-bottom: 1rem;
  transform: translate(0%,30%);
}
.benefits{
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.benefit1,.benefit2,.benefit3{
  width: 70%;
}
.benefits .benefit1 h5,.benefits .benefit2 h5,.benefits .benefit3 h5{
  font-size: 0.7rem;
}
.benefits .benefit1 p,.benefits .benefit2 p,.benefits .benefit3 p{
  font-size: 0.6rem;
}
.landing .benefits img{
  width: 1.5rem;
}
.landing .features{
  width: 100%;
}
.landing .features .feature1,.landing .features .feature2,.landing .features .feature3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  
}
.landing .features h3{
  font-size: 0.7rem;
  
}
.landing .features .image{
width: 100%;
}
.landing .features ul li{
  font-size: 0.6rem;
}

.getstarted img{
  width: 2rem;
}
.readmore img{
  height: 0.5rem;
}
.getstarted h6,.readmore h6{
  font-size: 0.5rem;
}
.clients-opinion{
  width: 90%;
}
.clients-opinion-container{
  width: 13rem;
}
.clients-opinion h4{
  font-size: 1rem;
}
.clients-opinion h5,.clients-opinion-container .client-name,.dots{
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.clients-opinion-container p{
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
}
.clients-opinion-container .profile-picture{
  width: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.dots{
  height: 0.3rem;
}
.arrow-left,.arrow-right{
  height: 1rem;
}

}

@media (min-width:475px) {
  .hero-container .content h1{
    font-size: 1.4rem;
  }

  .hero-container .content p{
    
    font-size: 1rem;
  }

  .hero-container .content button{
    font-size: 0.8rem;
    width: 8rem;
    height: 2rem;
  }
  .associated-companies{
    font-size: 0.8rem;
  }
  .features .text h3{
    font-size: 0.8rem;
  }
  .features .text ul li {
    font-size: 0.7rem;
  }
  .getstarted h6,.readmore h6{
    font-size: 0.6rem;
  }
  
  
}

@media (min-width:600px){
  .visuals{
    width: 90%;
  }
  .landing .benefits{
    width: 80%;
  }
 

  .features .text h3{
    font-size: 1rem;
  }
  .features .text ul li {
    font-size: 0.8rem;
  }

  .clients-opinion-container{
    width: 15rem;
  }
 

}
@media (min-width:768px){

  .hero-section{
    gap: 2rem;
  }
  .visuals{
    width: 80%;
  }
  .hero-container .content h1{
    font-size: 1.7rem;
  }

  .hero-container .content p{
    
    font-size: 1.2rem;
  }

  .hero-container .content button{
    font-size: 0.9rem;
    width: 9rem;
    height: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .landing .benefits{
    width: 70%;
  }
  .landing .choose{
    font-size: 1rem;
  }

  .landing .features .feature1,.landing .features .feature2,.landing .features .feature3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .landing .features .image{
    width:50%;
  }
  .landing .features .text{
    width: 50%;
  }
 .clients-opinion{
  width: 70%;
 }

 .landing .benefits{
  padding: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
 
}
.landing .benefits .benefit1,.landing .benefits .benefit2,.landing .benefits .benefit3{
  
  height: 150px;
}

}

@media (min-width:900px){
  .visuals{
    width: 70%;
  }
  
  .landing .choose{
    font-size: 1.2rem;
  }

  .landing .benefits h5{
    font-size: 0.8rem;
  }
  .landing .benefits p{
    font-size: 0.6rem;
  }
 

 .clients-opinion-container{
  width: 17rem;
}

.clients-opinion h4{
  font-size: 1.2rem;
}
.clients-opinion h5{
  font-size: 1rem;
}
.clients-opinion-container p{
  font-size: 0.8rem;
}

}

@media (min-width:1024px){
  .hero-section{
    
    min-height: 90vh;
    gap: 3rem;
  }
  .hero-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 95%;
  }

  .associated-companies{
    height: 5rem;
    font-size: 1rem;
  }


  .visuals{
    width: 100%;
  }

  
  .landing .benefits h5{
    font-size: 1rem;
  }
  .landing .benefits p{
    font-size: 0.8rem;
  }
  .landing .choose{
    font-size: 1.5rem;
    
  }

  .landing .benefits .benefit1,.landing .benefits .benefit2,.landing .benefits .benefit3{

    height: 200px;
   
 }

 .features .text h3{
  font-size: 1.2rem;
}
.features .text ul li {
  font-size: 1rem;
}
.getstarted h6,.readmore h6{
  font-size: 0.9rem;
}
.clients-opinion-container{
  width: 20rem;
}

 
}

@media (min-width:1200px){
  .hero-section{
    gap: 2rem;
  }

  .hero-container .content h1{
    font-size: 2rem;
  }

  .hero-container .content p{
    
    font-size: 1.3rem;
  }
  .clients-opinion{
    width: 60%;
  }


}

@media (min-width:1330px){
  .hero-section{
    gap: 1rem;
  }

  .hero-container .content h1{
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .hero-container .content p{
    
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  

}

@media (min-width: 1440px) {
  
.hero-section{
  height: 100vh;
}

 

.hero-container .content h1{
  font-size: var(--h1);
  margin-bottom: 40px;
}
.hero-container .content p{
  
  font-size: var(--p1);
  color: var(--primary-blue-dark2);
}
.hero-container .content{
  display: flex;
  flex-direction: column;
 
}
.hero-container .content button{
  width: 11rem;
  height: 46px;
  font-size:var(--text1) ;
  }
  
.associated-companies{
  height: 7rem;
  font-size: var(--h4);
}
 .benefits{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.benefit1,.benefit2,.benefit3{
  width: 30%;
}

.landing .benefits h5{
  font-size: var(--h6);
  margin-bottom: 3%;
  }

  .landing .benefits p{
    font-size: var(--p2);
    margin-bottom: 3%;
  }
.landing .benefits img{
  width: 2rem;
}
.landing .choose{
  font-size: var(--h3);
  text-align: center;
  margin-bottom: 3%;
}



.landing .features h3{
  font-size: var(--h3);
  width: 60%;
}

.landing .features ul li{
  font-size: var(--p1);
}

.getstarted img{
  width: 4rem;
}
.readmore img{
  height: 1rem;
}
.getstarted h6,.readmore h6{
  font-size: var(--p5);
}

.clients-opinion{
  
  margin-top: 3%;
  width: 70%;
}
.clients-opinion-container{
  width: 40%;
}
.clients-opinion h4{
  font-size: var(--h3);
}
.clients-opinion h5,.clients-opinion-container .client-name,.dots{
  font-size: var(--h4);
  margin-bottom: 1rem;
}
.clients-opinion h5{
  font-size: var(--h5);
  margin-bottom: 3%;
}
.clients-opinion-container .client-name{
  font-size: var(--h5);
}
.clients-opinion-container p{
  font-size: 1rem;
}
.clients-opinion-container .profile-picture{
  width: 5rem;
  
}
.dots{
  height: 0.5rem;
}
.arrow-left,.arrow-right{
  height: 3rem;
}

.landing .benefits .benefit1,.landing .benefits .benefit2,.landing .benefits .benefit3{
  
  height: 300px;
 
 
}


}

