.services-page{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-page h1{
    color: var(--primary-blue-dark2);
  
    font-weight: bold;
}
@media (min-width:300px){
    .services-page{
        height: 60vh;
    }
    .services-page h1{
        font-size: 2rem;
    }
}
@media (min-width:500px){
    .services-page h1{
        font-size: 3rem;
    }
}
@media (min-width:1440px){
    .services-page{
        height: 80vh;
    }
    .services-page h1{
        font-size: 5rem;
    }
}