.footer{
    background-color: var(--primary-blue-dark2);
    display: flex;
    padding: 20px;
    padding-bottom: 5px;
    width: 100%;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}
 .footer-sections{
    
    display: flex;
   
}
.title-section{
    color: white;
    
    font-size: var(--p1);
}
.footer-sections div ul{
    
    color:var(--gray2);
    list-style: none;
    font-size: var(--p4);
    font-weight:normal;
}
.footer-sections div ul li{
    margin-top: 1rem;
    cursor: pointer;
}
.footer-sections div ul li:hover{
    color: var(--primary-blue-light1);
    transition: 0.3s ease;
}
.copyright {
    width: 100%;
  color: white;
  
  text-align: center; 
  
  align-items: center;
opacity: 30%;


}
.copyright p{
    font-size: var(--p5);
}
.copyright hr{
    margin-bottom: 4px;
    height: 2px;
    background-color:white;
}
.socialmedia{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.socialmedia img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.socialmedia img:hover{
   filter: drop-shadow(1px 1px 7px white);
    transition: 1s ease;
}
.subscribe{
    position: relative;
}
.subscribe input{
    margin-top: 1rem;
    outline: none;
    border: none;
    height: 2.5rem;
    width: 25rem;
    margin-right: -47px;
    border-radius: 90px;
    background-color: #A1ACE6;
    opacity: 90%;
    padding-left: 13px;
    font-size: var(--p3);

}
.subscribe input::placeholder{
    font-size: var(--p5);
    color: var(--gray4);
}
.subscribe button{
    margin-top: 1rem;
    font-weight: 600;
    font-size: var(--text1);
    position: absolute;
    width: 139px;
    height: 40px;
    border-radius: 90px;
    background-color:var(--primary-blue);
    border: none;
    color: white;
    cursor: pointer;
    font-family: poppins;
}
.subscribe button:hover{
    background-color:hsl(230, 58%, 37%);
    box-shadow: 1px 1px 20px -5px black; 
    transition: 0.3s ease-in-out;
}

.footer .subscribe input:focus {
    
    border: none;
    box-shadow: 1px 1px 20px -5px black; 
    background-color: rgba(255, 255, 255, 0.893);
     
   }
   .footer .filled{
    border: none;
    box-shadow: 1px 1px 20px -5px black; 
    background-color: rgba(255, 255, 255, 0.893);
   }



@media (min-width: 300px) {

    .footer{
        padding: 10px;
        padding-bottom: 5px;
    }
    .footer-sections {
        
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .footer-sections div ul li{
        margin-top: 0;
        
    }
    .footer li,.footer-sections .title-section {
        
      font-size: 0.8rem;
    }
    .footer-sections .title-section{
        font-weight: normal;
    } 
    .follow,.useful-links{
        display: flex;
        align-items: center;
        
    }
   
    .follow .socialmedia{
        margin-left: 0.8rem;
        gap: 0.8rem;
        display: flex;
        margin-top: 0;
    }
    .follow .socialmedia img{
       width: 1.5rem;
       height: 1.5rem;
    }
    .useful-links ul{
       
        margin-left: 0.8rem;
        display: flex;
        gap: 0.8rem;
    }
    .useful-links ul li{
        
        font-size: 0.6rem;
        
    } 
    .legal{
        display: flex;
        align-items: center;
    }
    .legal ul{
        margin-left: 0.8rem;
        gap: 0.8rem;
        display: flex;
    }
    .legal ul li{
        
        font-size: 0.6rem;
        
    }
    .subscribe input{
        font-family: poppins;
        width: 17rem;
        height:1.5rem;
        font-size: 0.8rem;
    }
    .subscribe button{
        
        width: 4.5rem;
        height: 1.5rem;
        font-size: 0.5rem;
    }
    .subscribe input::placeholder{
        font-size: 0.55rem;
    }
    .footer .copyright p{
        font-size: 0.5rem;
    }
  }

  @media (min-width:425px){
    .footer-sections{
        padding: 10px;
    }
    .subscribe input{
        height: 2rem;
        width: 20rem;
    }
    .subscribe button{
        height: 2rem;
        width: 6rem;
        font-size: 0.6rem;
    }
    .follow .socialmedia{
        margin-left: 1.5rem;
        gap: 1.5rem;
    }

    .legal ul{
        margin-left: 1.5rem;
        gap: 1.5rem;
        
    }
    .useful-links ul{
        margin-left: 1.5rem;
        gap: 1.5rem;
    }
  }

  @media (min-width:600px){
    .footer-sections .title-section {
        
        font-size: 0.9rem;
      }

    .useful-links ul li ,.legal ul li{
        font-size: 0.7rem;
    }
  }

  @media (min-width:900px){
    
    
    .follow .socialmedia{
        margin-left: 0rem;
        gap: 0.8rem;
    }
  
    .footer-sections {
        display: flex;
        flex-direction: row;
        padding-inline: 20px;
        justify-content: space-between;
        width: 90%;
       
    }
    .follow,.useful-links,.legal,.useful-links ul,.legal ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        gap: 0.5rem;
    }
    .footer-sections .title-section {
        
        font-size: 1rem;
      }

    .useful-links ul li ,.legal ul li{
        font-size: 0.8rem;
    }
    
 
  }




  @media (min-width:1440px){

    
  
    .follow .socialmedia{
        margin-left: 0;
        margin-top: 1rem;
    }
    .follow .socialmedia img{
       width: 2rem;
       height: 2rem;
    }
    .follow .title-section,.useful-links .title-section,.legal .title-section,.subscribe .title-section{
        font-size: var(--p1);
        font-weight: normal;
    }
    .footer-sections div ul li{
        font-size: var(--p4);
    }
  

    .subscribe input{
        margin-top: 1rem;
        height: 2.5rem;
        width: 25rem;
    }
    .subscribe input::placeholder{
        font-size: var(--p5);
    }
    .subscribe button{
        font-size: var(--text1);
        width: 139px;
        height: 40px;
    }
    .footer .copyright p{
        font-size: var(--p5);
    }

  }
  
  
 
  