.footer{
    background-color: var(--primary-blue-dark2);
    display: flex;
    align-items: center;
    width: 100%;
    height: 252px;
    position: relative;
    
}
 .footer-sections{
    margin-left: 2rem;
    display: flex;
    gap: 11rem;
}
.title-section{
    color: white;
    
    font-size: var(--p1);
}
.footer-sections div ul{
    
    color:var(--gray2);
    list-style: none;
    font-size: var(--p4);
    font-weight:normal;
}
.footer-sections div ul li{
    margin-top: 1rem;
    cursor: pointer;
}
.footer-sections div ul li:hover{
    color: var(--primary-blue-light1);
    transition: 0.3s ease;
}
.copyright {
    width: 100%;
  color: white;
  margin-top: 213px;
  text-align: center; 
  position: absolute; 
  align-items: center;
opacity: 30%;
left: 50%;
transform: translateX(-50%);
}
.copyright p{
    font-size: var(--p5);
}
.copyright hr{
    margin-bottom: 4px;
    height: 2px;
    background-color:white;
}
.socialmedia{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.socialmedia img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.socialmedia img:hover{
   filter: drop-shadow(1px 1px 7px white);
    transition: 1s ease;
}
.subscribe{
    position: relative;
}
.subscribe input{
    margin-top: 1rem;
    outline: none;
    border: none;
    height: 2.5rem;
    width: 25rem;
    margin-right: -47px;
    border-radius: 90px;
    background-color: #A1ACE6;
    opacity: 90%;
    padding-left: 13px;
    font-size: var(--p3);

}
.subscribe input::placeholder{
    font-size: var(--p5);
    color: var(--gray4);
}
.subscribe button{
    margin-top: 1rem;
    font-weight: 600;
    font-size: var(--text1);
    position: absolute;
    width: 139px;
    height: 40px;
    border-radius: 90px;
    background-color:var(--primary-blue);
    border: none;
    color: white;
    cursor: pointer;
    font-family: poppins;
}
.subscribe button:hover{
    background-color:hsl(230, 58%, 37%);
    box-shadow: 1px 1px 20px -5px black; 
    transition: 0.3s ease-in-out;
}

.footer .subscribe input:focus {
    
    border: none;
    box-shadow: 1px 1px 20px -5px black; 
    background-color: rgba(255, 255, 255, 0.893);
     
   }
   .footer .filled{
    border: none;
    box-shadow: 1px 1px 20px -5px black; 
    background-color: rgba(255, 255, 255, 0.893);
   }



@media (min-width: 300px) {
    
    .footer-sections {
        margin-left: 3%;
        
        row-gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center; 
    }
    .footer-sections div ul li{
        margin-top: 0;
        
    }
    .footer li,.footer-sections .title-section {
        
      font-size: 0.8rem;
    }
    .footer-sections .title-section{
        font-weight: normal;
    } 
    .follow,.useful-links{
        display: flex;
        align-items: center;
        
    }
   
    .follow .socialmedia{
        margin-left: 0.8rem;
        gap: 0.8rem;
        display: flex;
        margin-top: 0;
    }
    .follow .socialmedia img{
       width: 1.5rem;
       height: 1.5rem;
    }
    .useful-links ul{
       
        margin-left: 0.8rem;
        display: flex;
        gap: 0.8rem;
    }
    .useful-links ul li{
        
        font-size: 0.6rem;
        
    } 
    .legal{
        display: flex;
    }
    .legal ul{
        margin-left: 0.8rem;
        gap: 0.8rem;
        display: flex;
    }
    .legal ul li{
        
        font-size: 0.6rem;
        
    }
    .subscribe input{
        font-family: poppins;
        width: 15rem;
        height:1.5rem;
        font-size: 0.8rem;
    }
    .subscribe button{
        
        width: 4.5rem;
        height: 1.5rem;
        font-size: 0.5rem;
    }
    .subscribe input::placeholder{
        font-size: 0.55rem;
    }
    .footer .copyright p{
        font-size: 0.5rem;
    }
  }
  @media (min-width:1500px){

    
    .footer-sections {
        display: flex;
        flex-direction: row;
        gap: 11rem;
    }
    
    .follow,.useful-links,.legal,.useful-links ul,.legal ul{
        display: inline;
       
    }
    .useful-links .title-section,.legal .title-section{
        margin-bottom: -1rem;
    }
    .follow .socialmedia{
        margin-left: 0;
        margin-top: 1rem;
    }
    .follow .socialmedia img{
       width: 2rem;
       height: 2rem;
    }
    .follow .title-section,.useful-links .title-section,.legal .title-section,.subscribe .title-section{
        font-size: var(--p1);
        font-weight: normal;
    }
    .footer-sections div ul li{
        font-size: var(--p4);
    }
    .footer-sections div ul li{
        margin-top: 1rem;
    }

    .subscribe input{
        margin-top: 1rem;
        height: 2.5rem;
        width: 25rem;
    }
    .subscribe input::placeholder{
        font-size: var(--p5);
    }
    .subscribe button{
        font-size: var(--text1);
        width: 139px;
        height: 40px;
    }
    .footer .copyright p{
        font-size: var(--p5);
    }

  }
  /*@media (min-width: 400px) {

    .footer li,.footer-sections .title-section {
      font-size: 0.9rem;
    }
    .footer-sections .title-section{
        font-weight: 600;
    } 
    .follow,.useful-links{
        display: flex;
    }
   
    .follow .socialmedia{
        margin-left: 0.9rem;
        gap: 0.9rem;
        display: flex;
        margin-top: -0.3rem;
    }
    .follow .socialmedia img{
       width: 1.7rem;
       height: 1.7rem;
    }
    .useful-links ul{
        margin-left: 0.9rem;
        display: flex;
       gap: 0.9rem;
    }
    .useful-links ul li{
        font-size: 0.7rem;
        margin-top: 0.2rem;
    } 
    .legal{
        display: flex;
    }
    .legal ul{
       margin-left: 0.9rem;
       gap: 0.9rem;
        display: flex;
    }
    .legal ul li{
        margin-top: 0.2rem;
        font-size: 0.7rem;
        
    }
    .subscribe input{
        font-family: poppins;
        width: 17rem;
        height:1.7rem;
        font-size: 0.8rem;
    }
    .subscribe button{
        
        width: 5rem;
        height: 1.7rem;
        font-size: 0.6rem;
    }
    .subscribe input::placeholder{
        font-size: 0.55rem;
    }
    
    .footer .copyright p{
        font-size: 0.5rem;
    }
   
  }
 
  @media (min-width: 600px) {
  
        .footer li,.footer-sections .title-section {
          font-size: 0.9rem;
        }
        .footer-sections .title-section{
            font-weight: 600;
        } 
        .follow,.useful-links{
            display: flex;
        }
       
        .follow .socialmedia{
            margin-left: 1rem;
            gap: 1rem;
            display: flex;
            margin-top: -0.3rem;
        }
        .follow .socialmedia img{
           width: 2rem;
           height: 1.7rem;
        }
        .useful-links ul{
            margin-left: 1rem;
            display: flex;
           gap: 1rem;
        }
        .useful-links ul li{
            font-size: 0.8rem;
            margin-top: 0.1rem;
        } 
        .legal{
            display: flex;
        }
        .legal ul{
           margin-left: 1rem;
           gap: 1rem;
            display: flex;
        }
        .legal ul li{
            margin-top: 0.1rem;
            font-size: 0.8rem;
            
        }
        .subscribe input{
            font-family: poppins;
            width: 18rem;
            height:1.7rem;
            font-size: 0.8rem;
        }
        .subscribe button{
            
            width: 6rem;
            height: 1.7rem;
            font-size: 0.65rem;
        }
        .subscribe input::placeholder{
            font-size: 0.55rem;
        }
        
        .footer .copyright p{
            font-size: 0.5rem;
        }
    }
    
  
  

  @media (min-width: 720px) {
  
   
        .footer li,.footer-sections .title-section {
          font-size: 1rem;
        }
        .footer-sections .title-section{
            font-weight: 600;
        } 
        .follow,.useful-links{
            display: flex;
        }
       
        .follow .socialmedia{
            margin-left: 1.5rem;
            gap: 1rem;
            display: flex;
            margin-top: -0.2rem;
        }
        .follow .socialmedia img{
           width: 2.5rem;
           height: 1.8rem;
        }
        .useful-links ul{
            margin-left: 1.5rem;
            display: flex;
           gap: 1.5rem;
        }
        .useful-links ul li{
            font-size: 0.9rem;
            
        } 
        .legal{
            display: flex;
        }
        .legal ul{
           margin-left: 1.5rem;
           gap: 1.5rem;
            display: flex;
        }
        .legal ul li{
            
            font-size: 0.9rem;
            
        }
        .subscribe input{
            font-family: poppins;
            width: 20rem;
            height:1.7rem;
            font-size: 0.8rem;
        }
        .subscribe button{
            
            width: 7rem;
            height: 1.7rem;
            font-size: 0.65rem;
        }
        .subscribe input::placeholder{
            font-size: 0.55rem;
        }
        
        .footer .copyright p{
            font-size: 0.5rem;
        }
  }
  
  

  @media (min-width: 900px) {

    .footer {
        display: flex; 
    }
    
    .footer-sections {
        
        display: flex; 
        flex-wrap:wrap;
        gap: 1rem;
    }
    
    .follow, .useful-links, .legal {
        display: flex; 
        flex-direction: column;
    }

    .useful-links ul{
        transform: translate(-26%);
    }
    .legal ul{
        transform: translate(-19%);
    }
    
    .useful-links ul, .legal ul {
       
        display: flex; 
        flex-direction: column;
        gap: 0.1rem;
    }
    .follow{
        transform: translate(0%,-105%);
    }
    
   
        .footer li,.footer-sections .title-section {
          font-size: 1rem;
        }
        .footer-sections .title-section{
            font-weight: 600;
        } 
    
       
        .follow .socialmedia{
           
            transform: translate(-17%);
            display: flex;
           
        }
        .follow .socialmedia img{
            margin-right: -0.5rem;
           width: 2.5rem;
           height: 1.8rem;
        }
       
        .useful-links ul li{
            font-size: 0.9rem;
            
        } 
        
        .legal ul li{
            
            font-size: 0.9rem;
            
        }
        .legal{
            transform: translate(10%);
        }
        .subscribe{
            transform: translate(0%,-92%);
        }
        .subscribe input{
            font-family: poppins;
            width: 18rem;
            height:1.7rem;
            font-size: 0.8rem;
        }
        .subscribe button{
            
            width: 7rem;
            height: 1.7rem;
            font-size: 0.65rem;
        }
        .subscribe input::placeholder{
            font-size: 0.55rem;
        }
        
        .footer .copyright p{
            font-size: 0.5rem;
        }
}
 
  
  
  @media (min-width: 1280px) {
  
    
    .footer-sections {
        
        display: flex; 
        flex-wrap:wrap;
        gap: 5rem; 
    }
  }

  @media (min-width: 1400px) {
 
    
    .footer-sections {
        
        display: flex; 
        flex-wrap:wrap; 
        gap: 8rem; 
    }
    .subscribe button{
        height: 1.8rem;
    }
  }
  
  
  @media (min-width: 1536px) {
    
    
    .footer-sections {
        
        display: flex; 
        flex-wrap:wrap; 
        gap: 10rem; 
    }
    .subscribe button{
        height: 2rem;
        width: 8rem;
        font-size: 0.8rem;
    }
    .subscribe input{
        height: 2rem;
        width: 20rem;
    }
  }

 
  
  @media (max-width: 2000px) {
    .follow{
        transform: translate(0%,-55%);
    }
    .footer-sections .title-section{
        font-size: 1.4rem;
    }
    .footer-sections ul li {
        font-size: 1.2rem;
    }
    .useful-links ul{
        transform: translate(-18%);
    }
    .legal ul{
        transform: translate(-14%);
    }
    .follow .socialmedia img{
        height: 4rem;
    }
    .follow .socialmedia{
        gap: 2rem;
        transform: translate(-11%);
    }
    .footer-sections {
        
        display: flex; 
        flex-wrap:wrap; 
        gap: 13rem; 
    }
    .subscribe button{
        height: 2.5rem;
        width: 9rem;
        font-size: 0.9rem;
    }
    .subscribe input{
        height: 2.5rem;
        width: 24rem;
    }
    .subscribe{
        transform: translate(0%,-72%);
    }
    .subscribe input::placeholder{
        font-size: 0.7rem;
    }
    
  }
  @media (max-width: 1700px) {
    
    .footer-sections {
        display: flex; 
        flex-wrap:wrap; 
        gap: 9rem; 
    }
    
  }
@media (max-width: 1536px) {
    .footer-sections {
        display: flex; 
        flex-wrap:wrap; 
        gap: 6rem; 
    }
    .footer-sections .title-section{
        font-size: 1.1rem;
    }
    .footer-sections ul li {
        font-size: 0.9rem;
    }
    .subscribe input{
        width: 20rem;
  }
  }
  
 
  @media (max-width: 1280px) {
    .footer-sections {
        display: flex; 
        flex-wrap:wrap; 
        gap: 4rem; 
    }
    .footer-sections .title-section{
        font-size: 1.1rem;
    }
    .footer-sections ul li {
        font-size: 0.9rem;
    }
    .subscribe input{
        width: 20rem;
  }
}
  
  
  @media (max-width: 1024px) {
    .follow{
        transform: translate(0%,-92%);
    }
    .follow .socialmedia{
        gap: 1rem;
        transform: translate(-14%);
    }
    .follow .socialmedia img{
        height: 2rem;
    }
    .footer-sections {
        display: flex; 
        flex-wrap:wrap; 
        gap: 3rem; 
    }
    .footer-sections .title-section{
        font-size: 1.1rem;
    }
    .footer-sections ul li {
        font-size: 0.9rem;
    }
    .subscribe input{
        width: 16rem;
        height: 2rem;
  }
  .subscribe button{
    height: 2rem;
    width: 6rem;
    font-size: 0.7rem;
  }
  .useful-links ul{
    transform: translate(-25%);
  }
  .legal ul{
    transform: translate(-18%);
  }
  }
  @media (max-width: 850px) {
    
   .footer-sections{
    transform: translate();
   }
   
    .footer li,.footer-sections .title-section {
        font-size: 0.9rem;
      }
      .footer-sections .title-section{
          font-weight: 600;
      } 
      .follow,.useful-links{
          display: flex;
      }
     
      .follow .socialmedia{
          margin-left: 2rem;
          gap: 0.5rem;
          display: flex;
          
      }
      .follow{
        transform: translate(0%,0%);
      }
      .useful-links{
        margin-top: -2rem;
      }
      .legal{
        margin-top: -3rem;
      }
      .follow .socialmedia img{
         width: 2.5rem;
         height: 1.8rem;
      }
      .useful-links ul{
          margin-left: 4rem;
          display: flex;
         gap: 1rem;
      }
      .useful-links ul li{
          font-size: 0.8rem;
          
      } 
      .legal{
          display: flex;
      }
      .legal ul{
         margin-left: 4.5rem;
         gap: 1rem;
          display: flex;
      }
      .legal ul li{
          
          font-size: 0.8rem;
          
      }
      .subscribe{
        transform: translate(-30%,-20%);
      }
      .subscribe input{
          font-family: poppins;
          width: 15rem;
          height:1.7rem;
          font-size: 0.8rem;
      }
      .subscribe button{
          
          width: 5rem;
          height: 1.7rem;
          font-size: 0.6rem;
      }
      .subscribe input::placeholder{
          font-size: 0.55rem;
      }
      
      .footer .copyright p{
          font-size: 0.5rem;
      }
  }

  
  @media (max-width: 768px) {
    .subscribe{
        transform: translate(-40%,-20%);
      }
      .subscribe input{
        
        width: 14rem;
        height:1.7rem;
       
    }
  }
  
  
  @media (max-width: 640px) {
    .footer-sections ul li{
        font-size: 0.7rem;
    }
    .subscribe{
        margin-top: -2rem;
        margin-left: 7rem;
    }
    .subscribe input{
        width: 19rem;
    }
    .subscribe button{
        width: 6rem;
    }
  }

 
 
  @media (max-width: 380px) {
    .footer-sections ul li{
        font-size: 0.6rem;
    }
    .footer-sections .title-section{
        font-size: 0.8rem;
    }
    .subscribe{
        margin-left: 6.1rem;
        margin-top: -2.1rem;
    }
    .subscribe input{
        width: 17rem;
    }
    .subscribe button{
        width: 5rem;
    }
    .legal ul{
        gap: 1rem;
        margin-left: 4rem;
       
    }
  }
  @media (max-width: 350px) {
    .subscribe{
        margin-left: 6rem;
        margin-top: -2.5rem;
    }
    .subscribe input{
        width: 17rem;
        
    }
   
    .subscribe button{
        transform: translate(-41%);
        width: 5rem;
        
    }
    .legal ul,.useful-links ul{
        gap: 0.7rem;
        margin-left: 3.5rem;
    }
    
  }
  
 
  