:root{
    --primary-blue:#3249BD;
    --primary-blue-dark1:#1D2A6D;
    --primary-blue-dark2:#121A44;
    --primary-blue-light1:#7A8ADC;
    --primary-blue-light2:#CBD1F1;
    --gray2:#B6B9BF;
    --gray3:#9A9FA7;
    --gray4:#6B717A;

    --h1:40px;
    --h2:34px;
    --h3:28px;
    --h4:24px;
    --h5:22px;
    --h6:18px;
    --p1:20px;
    --p2:18px;
    --p3:16px;
    --p4:14px;
    --p5:12px;
    --text1:16px;
}
input::placeholder{
    font-family: poppins;
}
textarea::placeholder{
    font-family: poppins;
} 
